<div class="container mt-3" style="font-family: 'Times New Roman', Times, serif;">
  <div class="d-flex justify-content-between">
    <button class="btn btn-primary btn-lg">Elegir Archivo</button>
    <button class="btn btn-success btn-lg">Ejecutar</button>
    <button class="btn btn-danger btn-lg">Limpiar</button>
  </div>

  <div class="mb-3">
    <h5>Entrada</h5>
    <textarea class="form-control" rows="15" style="background-color: black; color: white;"></textarea>
  </div>
  
  <div>
    <h5>Salida</h5>
    <textarea class="form-control" rows="15" style="background-color: black; color: white;" readonly></textarea>
  </div>
</div>